{% extends "config_base.j2" -%}
{% block upstreams -%}
upstream:
  {{ blocky__upstreams | to_nice_yaml(indent=2) | trim | indent(2) }}
{% endblock %}
{% block blocking -%}
blocking:
  blockTTL: 10s
  blackLists:
    {{ blocky__blocking_blacklists | to_nice_yaml(indent=2) | trim | indent(4) }}
  clientGroupsBlock:
    {{ blocky__blocking_client_groups_block | to_nice_yaml(indent=2) | trim | indent(4) }}
  whiteLists:
    {{ blocky__blocking_whitelists | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endblock%}
