---
name: CI
"on":
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "v*"

defaults:
  run:
    working-directory: ngine_io.blocky_dns

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
        with:
          path: ngine_io.blocky_dns

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'  # Can't go to 3.14+ until Ansible 13.x

      - name: Install test dependencies.
        run: pip3 install ansible ansible-lint

      - name: Lint code.
        run: |
          ansible-lint .

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - debian13
        blocky_version:
          - v0.28.2
        playbook:
          - converge.yml
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
        with:
          path: ngine_io.blocky_dns

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'  # Can't go to 3.14+ until Ansible 13.x

      - name: Install test dependencies.
        run: pip3 install ansible molecule molecule-plugins[docker] docker

      - name: Run Molecule tests.
        run: molecule test
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_PLAYBOOK: ${{ matrix.playbook }}
          MOLECULE_BLOCKY_VERSION: ${{ matrix.blocky_version }}
